body{ 
    h5{
        font: 600 15px "Alright Sans", "Avenir", "Tahoma", sans-serif;
    }
}
.dark, .dark-contrast{
    .input-description-container{
        h5 label{
            color: #fff;
        }
    } 
} 
 
.light, .light-contrast{
    .input-description-container h5 label {
        color: #000;
    }
    
}

.input-description-container{
    input {
        max-width: 490px;
        height: 32px;
        box-sizing: border-box;
    }
} 